body {
    margin: 0;
    background: url(/images/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 60px;
}

.text {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
}

button {
    width: 100%;
    background-color: #5fa9a8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b9494;
}

@media (max-width: 768px) {
    .text {
        font-size: 13px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
