#fitur-layanan {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    width: 100%;
    background-color: #d9d9d9;
    padding: 36px 36px 0px 36px;
}

.grid-container {
    display: grid;
    gap: 20px;
    padding: 40px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    background-color: #d9d9d9;
    padding-inline: 36px;
}

.card {
    background: #f3f0ec;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
    z-index: 2;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.card-icon img {
    width: 60px;
    height: 60px;
    margin-block: 5vw;
}

.card-content {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.card-title h3 {
    font-size: 0.9em;
    margin: 0;
    font-weight: 600;
}

.card-title span {
    color: #70c0bb;
    font-size: 0.7em;
}

.info-button {
    color: #70c0bb;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.2s ease;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.info-button svg {
    width: 16px;
    height: 16px;
}

.info-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.card-description {
    font-size: 0.85em;
    line-height: 1.4;
    color: #ddd;
}

@media (max-width: 768px) {
    .card-icon img {
        width: 50px;
        height: 50px;
    }

    .card-title h3 {
        font-size: 0.75em;
    }

    .card-description {
        font-size: 0.7em;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 7px;
    }

    #fitur-layanan {
        font-size: 1.3em;
    }
}

@media (max-width: 640px) {
    #fitur-layanan {
        padding: 36px 16px 0px 16px;
    }

    .grid-container {
        padding-inline: 16px;
    }
}
